//DMS specific
layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}
window-rule {
    match app-id=r#"org.quickshell$"#
    match app-id=r#"^com.danklinux.dms$"#
    open-floating true
    background-effect {
        blur true
    }
}

/-window-rule {
    match is-active=false
    opacity 0.90
}

