binds {
  Mod+Space hotkey-overlay-title="Application Launcher" {
    spawn "dms" "ipc" "call" "spotlight" "toggle";
  }
  Mod+Alt+L hotkey-overlay-title="Lock Screen" {
    spawn "dms" "ipc" "call" "lock" "lock";
  }
}
